$color-bg-main: #fff;
$color-bg-dark: #191c26;

$color-accent: #ff6c00;

$color-text-light: #ffffff;
$color-text-dark: #303030;
$color-text-gray: #555555;
$color-text-light-gray: #9da4bd;

// $color-icon-light: #fcfcfc;
// $color-icon-dark: #131313;

$transition-duration: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
