body {
	font-family: "Open Sans", sans-serif;
	background-color: #fff;
	color: $color-text-dark;
	letter-spacing: 0.02em;

	&.modal-open,
	&.menu-open {
		overflow: hidden;
	}
}

.container {
	outline: 2px solid red;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;

	@include mobile {
		width: 480px;
		padding-left: 31px;
		padding-right: 31px;
	}

	@include tablet {
		width: 768px;
		padding-left: 40px;
		padding-right: 40px;
	}

	@include desctop {
		width: 1170px;
		padding-left: 0;
		padding-right: 0;
	}
}

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.btn {
	@include font(600, 10px, 1.33, 0.09em);
	text-transform: uppercase;
	color: $color-text-dark;
	text-align: center;

	background-color: transparent;
	border: 1px solid $color-accent;
	border-radius: 25px;
	padding: 12px 30px;
	cursor: pointer;

	transition: background-color $transition-duration $transition-function,
		color $transition-duration $transition-function;

	&:hover,
	&:focus {
		background-color: $color-accent;
		color: $color-text-light;
	}

	@include mobile {
		@include font(null, 12px, null, null);
		padding: 12px 37px;
	}
	@include tablet {
		padding: 12px 20px;
	}
}

.pre-title {
	@include font(600, 9px, 1.36, 0.1em);
	text-transform: uppercase;
	color: rgba(157, 164, 189, 0.6);
	@extend %align-list;

	@include mobile {
		@include font(null, 11px, null, null);
	}

	&::before {
		content: "";
		display: inline-block;
		width: 40px;
		height: 1px;
		background-color: currentColor;

		margin-right: 20px;
		@include mobile {
			width: 60px;
		}
	}
}

.after-title {
	@include font(null, 14px, 1.63, null);
	color: $color-text-light-gray;

	@include mobile {
		@include font(null, 16px, null, null);
	}

	@include tablet {
		@include font(null, 18px, 1.67, null);
	}
}

.title {
	font-family: "Raleway";
	@include font(null, 42px, 1.17, 0.05em);
}

.link {
	transition: color $transition-duration $transition-function;

	&:hover,
	&:focus {
		color: $color-accent;
	}
}
